  .h1 {
    margin-top: 80px;
    color: white;
    font-size: 25px;
    padding-bottom: 0px;
  }
  
  .form {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .p {
    color: #bf1650;
    text-align: center;
  }
  
  textarea,
  select,
  input {
    font-family: -apple-system, Blink MacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    display: block;
    box-sizing: border-box;
    width: 500px;
    border-radius: 4px;
    border: 1px solid #61dafb;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  
  .inputsub,
  .button {
    position: relative;
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 500px;
    font-weight: 400;
    letter-spacing: 0.5rem;
    transition: 0.3s all;
  }
  
  
  input[type="submit"]:hover,
  button[type="button"]:hover {
    background: #bf1650;
    color: white;
  }
  
  input[type="submit"]:active {
    transition: 0.3s all;
    top: 2px;
  }