/* Navbar의 기본 스타일 */
.navbar {
  color:white;
  display: flex;
  justify-content: space-between; /* 좌, 우, 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  padding: 20px;
  background-color: #fff;
}

.navLinks {
  display: flex;
  justify-content: center; /* 중앙 링크들 가운데 정렬 */
  flex-grow: 2; /* 링크 영역 확장 */
}

.navLinks li {
  margin-right: 30px;
  margin-left: 30px;
}

.login-menu {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-right: 350px;
}

.logout-menu {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-right: 540px;
}


/* 로고 이미지의 스타일 */
.logo {
  width: 120px; /* 로고 이미지의 너비 설정 */
  height: auto; /* 높이 자동 조정 */
  margin-left: 30px;
  margin-right: 20px;
  padding-top: 10px;
}

.userMenu {
  flex-grow: 1; /* UserMenu 영역 확장 */
  position: absolute;
  display: flex;
  justify-content: flex-end; /* UserMenu 오른쪽 정렬 */
  top: 40%;
  right: 5%;
}

.userMenu li {
  padding: 0;
  margin: 0;
}

.logo-link {
  flex-grow: 1; /* 로고 영역 확장 */
  display: flex;
  flex-direction: row;
}

/* Navbar 메뉴의 스타일 */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-size: xx-large;
  font-weight: 400;
}

.mobile-menu {
  width: 100%;
  height: 200%;
  background: #fff;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 999;
}

.mobile-menu-align {
  justify-content: space-between;
}

.mobile-menu.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110px; /* 로고와 메뉴 간의 간격을 조절 */
  left: 0;
  width: 100%;
  padding-bottom: 30px;
  overflow:hidden;
}

.mobile-menu li {
  margin-right: 0;
}

/* 모바일 화면에서 보여질 메뉴 아이콘의 스타일 */
.mobile-menu-icon {
  color:#808080;
  position: fixed;
  top: 5%;
  right: 5%;
  display: block;
  font-size: 28px;
  cursor: pointer;
}

/* 모바일 화면에서 보여질 메뉴 아이콘을 클릭했을 때 나타날 드롭다운 메뉴의 스타일 */
.mobile-menu-icon + ul {
  display: none;
}

.mobile-menu-icon:checked + ul {
  display: flex;
  flex-direction: column; /* 세로로 나타나도록 변경 */
  position: absolute;
  top: 60px; /* 로고와 메뉴 간의 간격을 조절 */
  left: 0;
  width: 100%;
  background-color: #3498db;
}

.mobile-menu-icon:checked + ul li {
  margin-right: 0; /* 메뉴 간격을 없애서 세로로 나타나도록 함 */
}

/* 모바일 화면에서 로고가 중앙에 오도록 스타일 조정 */
.navbar.mobile {
  flex-direction: column;
  margin-left: 0;
}

.mobileMenuIcon {
  z-index: 10; /* z-index 증가 */
}